@using IdentityServer4.Extensions
@model AuthWebApi.DTO.ViewModels.Manage.DeleteViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "_AdminLayout";
}

<h1>Профиль</h1>
<hr />
<div>
    <dl class="row edit-box">
        <div class="col"> <strong>Имя</strong> </div>
        <div class="col">@Model.Name</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>Фамилия</strong> </div>
        <div class="col">@Model.Surname</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>Отчество</strong> </div>
        <div class="col">@Model.Patronymic</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>Роль</strong> </div>
        <div class="col">@ViewBag.Role</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>Почта</strong> </div>
        <div class="col">@Model.Email</div>
        
        <div class="w-100 edit-text"></div>

        <div class="col">
            <strong>Подтверждение почты</strong>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <input asp-for="EmailConfirmed" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
            </div>
        </div>
        
        <div class="w-100 edit-text"></div>

        <div class="col"> <strong>День рождения</strong> </div>
        <div class="col">@Model.Birthday</div>
        
        <div class="w-100 edit-text"></div>
    </dl>
    <div>
        <a asp-controller="Manage" asp-action="Edit" asp-route-id="@User.GetSubjectId()" class="btn btn-primary">Изменить</a>
    </div>
</div>