@model AuthWebApi.DTO.ViewModels.Client.InfoViewModel

@{
    ViewData["Title"] = "Clients";
    Layout = "_AdminLayout";
}

<h1>Подробно</h1>
<hr />
<h3>Клиент @Model.ClientId</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label>GrantTypes</label>
        </dt>
        <dd class="col-sm-10">
            @(string.Join(", ", Model.AllowedGrantTypes))
        </dd>
        <dt class="col-sm-2">
            <label asp-for="RequirePkce">Pkce</label>
        </dt>
        <dd class="col-sm-10">
            @Model.RequirePkce
        </dd>
        <dt class="col-sm-2">
            <label asp-for="RequireClientSecret">ClientSecret</label>
        </dt>
        <dd class="col-sm-10">
            @Model.RequireClientSecret
        </dd>
        <dt class="col-sm-2">
            <label>RedirectUris</label>
        </dt>
        <dd class="col-sm-10">
            @(string.Join(", ", Model.RedirectUris))
        </dd>
        <dt class="col-sm-2">
            <label>AllowedScopes</label>
        </dt>
        <dd class="col-sm-10">
            @(string.Join(", ", Model.AllowedScopes))
        </dd>
        <dt class="col-sm-2">
            <label asp-for="AllowAccessTokensViaBrowser">ViaBrowser</label>
        </dt>
        <dd class="col-sm-10">
            @Model.AllowAccessTokensViaBrowser
        </dd>
        <dt class="col-sm-2">
            <label asp-for="AllowOfflineAccess">OfflineAccess</label>
        </dt>
        <dd class="col-sm-10">
            @Model.AllowOfflineAccess
        </dd>
        <dt class="col-sm-2">
            <label asp-for="RequireConsent">RequireConsent</label>
        </dt>
        <dd class="col-sm-10">
            @Model.RequireConsent
        </dd>
        <dt class="col-sm-2">
            <label>ClientSecrets</label>
        </dt>
        <dd class="col-sm-10">
            @(string.Join(", ", Model.ClientSecrets))
        </dd>
        <dt class="col-sm-2">
            <label>LogoutUris</label>
        </dt>
        <dd class="col-sm-10">
            @(string.Join(", ", Model.PostLogoutRedirectUris))
        </dd>
        <dt class="col-sm-2">
            <label>CorsOrigins</label>
        </dt>
        <dd class="col-sm-10">
            @(string.Join(", ", Model.AllowedCorsOrigins))
        </dd>
    </dl>
    <form>
        <a asp-action="Index">Вернуться</a>
    </form>
</div>