@model AuthWebApi.DTO.ViewModels.Manage.DeleteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<h1>Удалить</h1>
<hr />
<h3>Пользователя @Model.Username</h3>
<div>
    <dl class="row edit-box">
        <div class="col"> <strong>Имя</strong> </div>
        <div class="col">@Model.Name</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>Фамилия</strong> </div>
        <div class="col">@Model.Surname</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>Отчество</strong> </div>
        <div class="col">@Model.Patronymic</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>Роль</strong> </div>
        <div class="col">@ViewBag.Role</div>
        
        <div class="w-100 edit-text"></div>
        
        <div class="col"> <strong>Почта</strong> </div>
        <div class="col">@Model.Email</div>
        
        <div class="w-100 edit-text"></div>

        <div class="col">
            <strong>Подтверждение почты</strong>
        </div>
        <div class="col">
            <div class="form-check form-switch">
                <input asp-for="EmailConfirmed" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
            </div>
        </div>
        
        <div class="w-100 edit-text"></div>

        <div class="col"> <strong>День рождения</strong> </div>
        <div class="col">@Model.Birthday</div>
        
        <div class="w-100 edit-text"></div>
    </dl>
    <h3>Вы хотите удалить этого пользователя?</h3>
    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-danger"/>
        <a asp-action="Index" class="panel-table-link">Вернуться</a>
    </form>
</div>